:root {
    .background {
        padding: 0px !important;
        height: 100vh !important;
    }
}

// #root {
// }
body {
    // background-color: red !important;
    height: 100vh !important;
    padding: 5px;
}

.animated-background {
    background: radial-gradient(circle, rgb(165, 57, 172) 0%, #67146d 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}