.background {
    padding: 0px !important;
    height: 100vh !important;
}

body {
    height: 100vh !important;
    padding: 5px;
}

.animated-background {
    background: radial-gradient(circle, #521C6C 0%, #1E1E1E 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated-backgroundLight {
    background: radial-gradient(circle, #e7cdf3 0%, #d48bf5 100%);
    // background: radial-gradient(circle, #9556b3 0%, #d9a2f3 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}