body {
    height: 100vh !important;
    padding: 5px;
}

.light {
    height: 100vh !important;
    padding: 5px;
    background: #fff !important;
    color: #1E1E1E !important;

    * {
        color: #1E1E1E;
    }

    a {
        color: #1E1E1E;
    }

    .card {
        border: 1px solid #1E1E1E;
        background: #fff !important;
        color: #1E1E1E;
    }

    .navbar {
        background: #fff !important;
        color: #1E1E1E;
        border: 1px solid #1E1E1E;

        &__link {
            color: #1E1E1E;

            .activeLink {
                color: #1E1E1E !important;
            }
        }
    }

    .darkMode {
        border: 1px solid #1E1E1E !important;
        background: #fff !important;
        color: #1E1E1E !important;
    }

    .btnContact {
        border: 1px solid #1E1E1E !important;
        background-color: #fff !important;

        i {
            color: #1E1E1E !important;
        }

        p {
            color: #1E1E1E !important;
        }
    }

    .btnContact:hover {
        border: 1px solid #1E1E1E !important;
        background-color: #f1ecec !important;
    }
}