$primary: #7F21AB;
$background: #120B26;
$secondary: #7F21AB;
$hover: #9f42ca;
$text: #FFFFFF;
$text-secondary: #564B75;
//light
$primaryLight: #9556b3;
$backgroundLight: #ebebeb56;
$textLight: #1E1E1E;
