* {
    color: $text;
    margin: 0px;
    padding: 0px;
}

.btnHover:hover {
    background-color: #e945f5;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}