.contact {
    div {
        color: $primary;
    }
}

@media (max-width: 575.98px) {
    .contactSizeBtn {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}