.projectTech {
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.cursorProject {
    cursor: pointer;
}

.projectImg {
    width: 100%;
}

// .tituloProject {
//     color: $secondary !important;
// }