.card {
    background-color: $background;
    border-radius: 20px;
    padding: 10px;

    .cardbody {
        padding: 16px;
    }
}

.cardLight {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: $backgroundLight !important;
    color: $textLight !important;

    .cardbody {
        padding: 16px;
    }

    * {
        color: $textLight !important;
    }
}