.goncalImg {
    width: 150px;
}

@media (max-width: 500px) {}

.logo {
    font-size: 30px;
    color: $secondary;
    cursor: pointer;
}

.logo:hover {
    color: #e945f5;
}

.contactLogo {
    background-color: $secondary;
    color: $primary;
    font-size: 20px;
    border-radius: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.contLogo {
    background-color: $secondary;
    border-radius: 100px;
}

.btn-primary {
    font-weight: bold;
    color: $primary;
    background-color: $secondary;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
}

.btn-primary:hover {
    color: $primary;
    background-color: #e945f5;
}