a {
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    width: 100%;
    flex-direction: row;

    .navbar {
        background-color: $background;
        border-radius: 15px;
        justify-content: center;
        width: 90% !important;
        height: 70px;
        margin-right: 10px;
        display: flex;

        &__link {
            text-align: center;
            width: 130px;
            display: flex;
            justify-content: center;
            gap: 5px;

            p {
                color: $text-secondary;
            }

            i {
                color: $text-secondary;
            }
        }

        .activeLink {

            // color: $text;
            p {
                color: $text;
            }

            i {
                color: $text;
            }

            // background-color: $secondary;
            border-radius: 10px;
        }
    }

    .darkMode {
        background-color: $background;
        border-radius: 15px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__logo {
            font-size: 20px;
        }
    }
}

// @media (max-width: 1200px) {
//     .navbar {
//         // max-width: 100vh !important;
//         display: flex !important;
//         width: 100%;
//         border-radius: 15px;
//         &__link {
//             width: 70px;
//         }
//         &__text {
//             color: $text;
//             font-size: small;
//         }
//     }
//     .navSm {
//         width: 100%;
//         display: flex !important;
//     }
//     .darkMode {
//         position: absolute;
//         transform: scale(0);
//     }
// }