a {
    text-decoration: none;
}

.navbar {
    background-color: $primary;
    border-radius: 15px;
    justify-content: center;

    &__link {
        width: 80px;
        text-align: center;
        margin-right: 2px;
        margin-left: 2px;

        &__logo {
            color: $text;
        }

        &__text {
            color: $text;
            max-width: 50px;
        }
    }
}

.darkMode {
    background-color: $primary;
    border-radius: 100%;
    width: 70px;
    cursor: pointer;

    &__logo {
        font-size: 20px;
    }
}

.activeLink {
    background-color: $secondary !important;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .navbar {
        max-width: 100vh !important;
        display: flex !important;
        width: 100%;
        border-radius: 15px;

        &__link {
            width: 70px;
        }

        &__text {
            color: $text;
            font-size: small;
        }
    }

    .navSm {
        width: 100%;
        display: flex !important;
    }

    .darkMode {
        position: absolute;
        transform: scale(0);
    }
}