a {
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    width: 100%;
    flex-direction: row;

    .navbar {
        background-color: $background;
        border-radius: 15px;
        justify-content: center;
        width: 90% !important;
        height: 70px;
        margin-right: 10px;
        display: flex;
        align-items: center;

        @media (max-width: 430px) {
            width: 80% !important;
        }

        &__link {
            text-align: center;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            @media (max-width: 430px) {
                display: flex;
                flex-direction: column;
                width: 80px;
                gap: 1px;
            }

            p {
                color: $text-secondary;
            }

            i {
                color: $text-secondary;
                margin-bottom: 4px;

                @media (max-width: 430px) {
                    margin-bottom: 0;
                }
            }
        }

        .activeLink {
            p {
                color: $text;
            }

            i {
                color: $text;
            }

            border-radius: 10px;
        }
    }

    .darkMode {
        background-color: $background;
        border-radius: 15px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width: 430px) {
            width: 20%;
        }

        &__logo {
            font-size: 20px;
        }
    }

    .navbarLight {
        background-color: $backgroundLight;
        border-radius: 15px;
        justify-content: center;
        width: 90% !important;
        height: 70px;
        margin-right: 10px;
        display: flex;
        align-items: center;

        &__link {
            p {
                color: $textLight;
            }

            i {
                color: $textLight;
                margin-bottom: 4px;
            }
        }

        .activeLink {
            p {
                color: $textLight;
                font-weight: bold;
            }

            i {
                color: $textLight;
                font-weight: bold;
            }

            border-radius: 10px;
        }
    }

    .lightMode {
        background-color: $backgroundLight;
        color: $textLight;
        border-radius: 15px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width: 430px) {
            width: 20%;
        }

        .darkMode__logo {
            color: $textLight;
            font-size: 20px;
        }
    }
}